/* Basic styling */

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: black;
  margin: 0;
  color: white;
}

/* Sidebar styling */
.sidenav {
  height: 100%;
  width: 270px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: black;
  padding-top: 20px;
  transition: transform 0.3s ease;
  border-right: 1px solid white;
}

.sidenav a {
  margin-top: 40px;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.sidenav a:hover {
  color: orange;
  border-bottom: 1px solid orange;
}

.sidenav a i{
  margin-right: 20px;
}
/* ***************************** */

/* logo styling starts*/
.sidenav .logo{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Splash', cursive;
  margin-bottom: 50px;
 /* background-color: blue; */
}

.sidenav .logo a{
  color: orange;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 5px;
  position: relative;
  text-decoration: none;
  border-bottom: 0;
}

.sidenav .logo a::before{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid orange;
  border-left: 5px solid orange;
  bottom: 0;
  left: 0;
}

.sidenav .logo a::after{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 5px solid orange;
  border-right: 5px solid orange;
  top: 0;
  right: 0;
}
/* logo styling ends  */
/* ***************************************** */

/* Main content styling */
.main {
  margin-left: 270px;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.content {
  /* display: none; */
  justify-content: center;
  align-items: center;
  animation: slideIn 0.5s forwards;
  height: 100vh;
  overflow-x: hidden;
}

@keyframes slideIn {
  from {
      transform: translateX(100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

/* Toggle button */
.toggle-btn {
  font-size: 20px;
  padding: 10px;
  background-color: orange;
  color: white;
  border: none;
  cursor: pointer;
  display: none; 
}

/* ****************# */
/* home  */
#background-video {
  position: fixed; 
  top: 0;
  left: 0;
  height: 100vh;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; /* Place behind other content */
  object-fit: cover; /* Ensure video covers the entire area */
}


.home-content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background-color: purple; */
}

.home-info{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}

.hello, .my-profession{
  font-size: 35px;
  margin: 0;
  padding: 0 10px;
  /* background-color: brown; */
}

h1.name{
  font-family: 'Splash', cursive;
  font-size: 70px;
  letter-spacing: 4px;
  word-spacing: 7px;
  color: orange;
  margin: 0;
  padding: 0 10px;
  /* background-color: black; */
}

.home-info p{
  /* background-color: blue; */
  margin: 10px;
  padding: 0 20px;
  color: white;
  font-weight: light;
  text-align: center;
}
/* ********************************************* */
.social-handle{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
  width: 200px;
  height: 50px;
  /* background: red; */
}

.social-handle i{
  color: white;
}

.social-handle i:hover{
  color: orange;
}

.btn{
  display: inline-block;
  white-space: nowrap;
  margin-top: 10px;
  padding: 15px 35px;
  color: white;
  border-radius: 10px;
  border: white 1px solid;
  background: transparent;
  transition: all 0.3s ease;
  text-decoration: none;
}

.btn:hover{
  background: orange;
}
/* ************************************************ */
.home-img{
  text-align: center;
  position: relative;
}

.home-img img{
  border-radius: 5px;
  height: 600px;
  background: transparent;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
/* ABOUT  */
#about{
  /* overflow-y: hidden; */

}
.about-content{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto; 
  /* overflow: hidden; */
  /* background-color: purple; */
}

.about_heading span{
  color: white;
}

.me{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 20px;
  width: 80%;
  height: auto;
  /* background: yellow; */
}

.about_heading {
  margin-bottom: 20px;
  color: orange; 
}

.pic{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-top: 55px;
  background: orange ;
  animation: drake 8s infinite alternate;
}

@keyframes drake {
0% {
    opacity: 0;
}

50% {
    opacity: 1;
}

0% {
    transform: rotateY(45deg);
}
50% {
    transform: rotateY(-360deg);
}
75% {
    transform: rotateY(90deg);
}
100% {
    transform: rotateY(0deg);
}
}

.tope-img{
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

/* PORTFOLIO SECTION */
.project-content{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
height: auto; 
overflow: hidden;
/* background-color: red; */
}

.our-work{
margin-top: 10px;
display: flex;
flex-wrap: wrap;
width: calc(100vw - 300px);
height: auto;
align-items: center;
justify-content: space-evenly;
gap: 20px;
/* background-color: blue; */
}

.parent {
  cursor: pointer;
}



.parent{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 320px;
}

.parent img{
  width: 450px;
  height: 320px; 
}

.child{
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  /* font-weight: bolder; */
  background-color: orange;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  transition: width 0.4s ease, height 0.4s ease;  
}

.parent:hover .child{
  visibility: visible;
  width: 450px;
  height: 320px;
  opacity: 0.7; 
}

.child p{
  margin-top: 4vh;
  width: 370px;
  /* font-weight: normal; */
  /* background-color: rebeccapurple; */
}
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

/* CONTACT SECTION */
.contact-content{
/* position: relative; */
display: flex;
/* flex-direction: column; */
justify-content: center;
align-items: center;
width: 100%;
height: auto; 
/* background-color: blue; */
z-index: -10;
/* overflow-y: hidden; */
overflow: hidden;
}

.contact-icons{
display: flex;
flex-direction: column;
flex-wrap: wrap;
width: auto;
height: 80vh;
gap: 5px;
justify-content: center;
/* background: green; */
}

.contact-icons i{
display: flex;
justify-content: center;
align-items: center;
width: 60px;
height: 75px;
border-radius: 5px;
background-color: orange;
color: white;
}

.contact-icons i:hover{
background-color: orange ;
color: black;
}

.contact-icons h1{
color: orange;
}

.contact-icons p{
color: white;
}

.sub-phone a, .sub-email a, .sub-whatsapp a, .sub-address a{
display: flex;
align-items: center;
width:auto;
height: 100px;
gap: 25px;
padding: 10px;
/* background-color: rebeccapurple; */
}
.sub-phone p span, .sub-email p span, .sub-whatsapp p span, .sub-address p span{
color: orange;
font-weight: bolder;
font-size: 25px;
}


.contact-icons a{
text-decoration: none;
color: white;
/* background-color: blue; */
}


.contact-icons p:hover{
color: orange ;
}

/* ****************************************** */
/* ****************************************** */
.yes-msg{
padding: 30px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: calc(100vw - 270px);
height: 80vh;
/* background-color: blue; */
}
.contact-form{
padding-left: 65px;
display: flex;
align-items: center;
justify-content: center;
width: calc(100vw - 270px);
height: auto;
}

.cont-form, .maps{
display: flex;
justify-content: center;
align-items: center;
width: 38vw;
height: 70vh;
border-radius: 10px;
color: white;

}

form h1{
margin-bottom: 10px;
color: orange;
}

form input{
display: flex;
flex-direction: column;
margin-bottom: 10px;
width: 500px;
height: 50px;
border-radius: 6px;
border: none;
font-size: 16px;
padding-left: 15px;
color: black;

}

textarea{
width: 500px;
height: 30vh;
border-radius: 6px;
font-size: 15px;
padding-top: 10px;
padding-left: 15px;
background-color: white;
color: black;
}

.submit{
margin-top: 10px;
padding: 15px 35px;
color: white;
border-radius: 10px;
border: white 1px solid;
background: transparent;
display: inline-block;
white-space: nowrap;
transition: all 0.3s ease;
}

.submit:hover{
transform: scale(1);
background: orange;
}

/* ***************** */







