*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,::after{
    box-sizing: border-box;
}

body, html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scrollbar */
}
/* ***************************************** */


/* SIDE NAV BEGINS HERE  */
/* **************************************** */
/* main navbar container  */
.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 100%;
    background-color: #000; /* Example background color */
    position: fixed; /* Fixed vertical navbar */
    left: 0;
    top: 0;
    padding: 30px;
    border-right: 1px solid grey;
    z-index: 10;
}
/* ****************************************** */
/* menu list  */
.nav-bar ul {
    margin-top: 120px;
    list-style: none;
    padding: 0;
}

.nav-bar ul li {
    margin-bottom: 40px;
    display: block;
}

.nav-bar ul li a{
    display: block;
    border-bottom: 1px solid white;
    color: white;
    padding: 5px;
}

.nav-bar ul li a.active{
    color: orange;
}

.nav-bar ul li a i{
    margin-right: 20px;
}


 /* ************************************** */
/* logo styling starts*/
.nav-bar .logo{
    font-family: 'Splash', cursive;
    position: absolute;
    top: 70px;
}

.nav-bar .logo a{
    color: orange;
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
    text-decoration: none;
}

.nav-bar .logo a::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid orange;
    border-left: 5px solid orange;
    bottom: 0;
    left: 0;
}

.nav-bar .logo a::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid orange;
    border-right: 5px solid orange;
    top: 0;
    right: 0;
}
/* logo styling ends  */
/* ******************************************** */


.container {
    display: flex;
    height: 100%;
}

/* ********************************************* */

.content-wrapper {
    flex: 1; /* Takes up remaining space */
    position: relative; /* For positioning the sliding content */
    overflow-y: auto; /* Enable scrolling on the wrapper */
    margin-left: 270px;  /*Adjust margin to account for fixed navbar */
    transition: transform 0.7s ease; /* Smooth sliding transition */
    overflow-x: hidden;
}

.content {
    position: absolute;
    top: 0;
    left: 100%; /* All content starts at thesame position */
    width: calc(100vw - 270px); /* Full width minus navbar width */
    height: auto; /*Allow content to expand vertically*/
    min-height: 100%; /*Ensure content covers full viewport height if smaller*/
    background-color: #fff; /* Example background color */
    padding: 20px;
    box-sizing: border-box; 
    transition: transform 0.7s ease; 
    /* transform: 0.4s ease; Smooth sliding transition */
    overflow-y: auto; 
}

.content.active {
    transform: translateX(-100%); /* Slide in from the right */
}
/* Style for the home content, which is always visible initially */
#home {
    left: 0; /* Initially visible */
    transform: translateX(0);
    background: black;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    color: white;
    
}
/* section  */
.section{
    min-height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    opacity: 1;
}



/* ***********
****************************************** */
/* home  */
#background-video {
    position: fixed; 
    top: 0;
    left: 0;
    height: 100vh;
    /* padding-left: 270px; */
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Place behind other content */
    object-fit: cover; /* Ensure video covers the entire area */
  }

/* .container-home{
    max-width: 1100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
} */
.cont-row{
    display: flex;
    justify-content: space-between;
    flex-direction: row !important;
    /* flex-wrap: wrap; */
    /* margin-left: -55px; */
    /* margin-right: -55px; */
    /* position: relative; */
    /* background-color: orangered; */
}

.cont-row .home-info{
    /* flex: 0 0 60%; */
    max-width: 60%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont-row .home-img{
    flex: 0 0 40%;
    max-width: 40%; 
    /* background: red; */
    text-align: center;
    position: relative;
}
h3.hello{
    font-size: 35px;
    /* margin: 15px 0; */
}
h3.hello span{
    font-family: 'Splash', cursive;
    font-size: 70px;
    letter-spacing: 4px;
    word-spacing: 7px;
    color: orange;
}
h3.my-profession{
    font-size: 35px;
    margin: 25px 0;
}
/* .row{
    display: flex;
    flex-direction: column;
} */
.home-info p{
    /* background-color: blue; */
    margin-bottom: 20px;
    color: white;
    font-weight: lighter;
    text-align: center;
}
/* ********************************************* */
.social-handle{
    width: 200px;
    height: 50px;
    /* background: red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* .btn{
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    border: none;
    background: orange;
    display: inline-block;
    white-space: nowrap;
    transition: all 0.3s ease;
} */

/* .btn:hover{
    transform: scale(1.5);
    border: 1px solid white;
    margin-left: 20px;
} */
/* ************************************************ */

.cont-row .home-img{
    /* background: blue; */
}

.cont-row .home-img img{
    /* margin: auto; */
    border-radius: 5px;
    height: 600px;
    /* background: yellow; */
}
/* .home-img::after{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid orange;
    border-right: 10px solid orange;
    right: 20px;
    bottom: -40px;
}

.home-img::before{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid orange;
    border-left: 10px solid orange;
    left: -20px;
    top: -30px;
} */

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */




/*  */
#about{
    background: purple;
    height: 150vh;
}